*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: 5% auto;
    font-family: 'Courier New', Courier, monospace;
}

#container{
  width: 100%;
  height: 60px;
  background-color:rgb(67, 66, 65);
  border: 1px solid;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 10px 10px 10px rgba(85, 83, 83, 0.417) 

}

 form input{
    width:25%;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    font-family: monospace;
    

}

form{
    width: 100%;
}

.sub{
    width: 20%;
    border-radius: 8px;
    background-color: rgb(220, 216, 213);
    font-family: monospace;
    font-size: large;

}

#add:hover{
    background-color: azure;
}

#ListToAdd table ,th ,td{
border: 1px solid;
border-radius: 8px;

}
#ListToAdd table{
    width: 100%;
    margin-top: 5%;
    border-collapse: collapse;
    text-align: center;
    font-size: x-large;
    background-color:rgb(67, 66, 65) ;
    box-shadow: 0 10px 10px 10px rgba(85, 83, 83, 0.417)  ;
    color: white;

}

table tr{
    height: 4rem;
}

#tablebody td{
    height: 2rem;
    background-color: rgb(101, 100, 99) ;
}

.remove button{
    width: 80%;
    height:2rem ;
    border-radius: 8px;
    background-color: rgb(220, 216, 213);
    font-family: monospace;
    font-size: large;
}

.error{
    text-align:center;
    color:red;
    font-weight: bold;
    font-size:2rem;
    margin-top: 2rem;
    
  }
  
  .success{
    text-align:center;
    color:green;
    font-weight: bold;
    font-size:2rem;
  }

.remove button:hover{
    background-color: azure;
}

h1{
margin-bottom: 50px;
text-align: center;
text-decoration: underline;
}

